<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Tabs Example</title>
	<script src="js/jquery-2.1.1.min.js"></script>
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
   
</head>
<body>
<ion-nav-bar class="header-bar">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
             
<ion-nav-view></ion-nav-view>

<script id="templates/sign-in.html" type="text/ng-template">
  <ion-view view-title="Sign-In" class="loginback">
  	<ion-nav-title class="titleh" style="height:100px;">
		  <img src="images/logo1.png" style="vertical-align:top; height:40px;">
	</ion-nav-title>
	<ion-content>
	
	<div class="list" style="margin-top:80px;">
		<label class="item item-input">
		<i class="icon ion-person placeholder-icon"></i>
		  <input type="text" ng-model="user.username">
		</label>
		<label class="item item-input">
		 <i class="icon ion-locked placeholder-icon"></i>
		  <input type="password" ng-model="user.password">
		</label>
	</div>
	<ul class="list">
			<li class="item-checkbox">
				 <label class="checkbox">
				   <input type="checkbox" ng-model="user.remember">
				 </label>
			 Remember me
			</li>
	</ul>
	<div>
		<button class="button button-block login-button" ng-click="signIn(user)">
		  Sign-In
		</button>
		<p class="text-center">
		  <a href="#/forgot-password" style="text-decoration:none; color:#000">Forgot password?</a>
		</p>
		
	</div>
	</ion-content>
	<div class="bar bar-footer footer-bar" style="height:25px;">
		<h2 class="title" style="font-size:10px;">Copyright 2015,All right reserved.</h2>
	</div>
  </ion-view>
</script>

<script id="templates/forgot-password.html" type="text/ng-template">
  <ion-view view-title="Forgot Password">
	<ion-content>
	<div class="padding">
		<center><b>Can't sign in? Forgot your password?</b></center>
		<hr style="width:75%">
		<p>Enter your registered email address. we'll send you password reset instructions.</p>
	</div>
	  <p>
	   	<div class="list" style="margin-top:10px;">
		<label class="item item-input">
		  <span class="input-label">Email</span>
		  <input type="text" ng-model="user.email">
		</label>
		</div>
		<div>
		<button class="button button-block login-button" ng-click="forget(user)">
		  Send me reset instructions
		</button>
		</div>
	  </p>
	</ion-content>
  </ion-view>
</script>

<script id="templates/tabs.html" type="text/ng-template">
<ion-tabs class="tabs-icon-bottom">
    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Vehicle" icon="ion-android-settings" href="#/tab/setting">
      <ion-nav-view name="setting-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Alert" icon="ion-ios-information" href="#/tab/about">
      <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Notification" icon="ion-ios-world" ui-sref="tabs.contact">
      <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
</script>

<script id="templates/home.html" type="text/ng-template">
  <ion-view view-title="Home">
  	<ion-nav-buttons side="right">
	
	  <button class="button button-clear" ng-click="doLogout()">
		<i class="icon ion-log-out placeholder-icon" style="color:#FFF;"></i>
	  </button>
	</ion-nav-buttons>
    <ion-content>
	<div style=" ">
		<div style=" width:100%; height:150px;">
		  
		</div>
	   <div class="button-bar ">
		  <a class="button button-positive">First</a>
		  <a class="button button-positive">Second</a>
		  <a class="button button-positive">Third</a>
		</div>
		<div class="button-bar ">
		  <a class="button button-positive">First</a>
		  <a class="button button-positive">Second</a>
		  <a class="button button-positive">Third</a>
		</div>
		<div class="button-bar ">
		  <a class="button button-positive">First</a>
		  <a class="button button-positive">Second</a>
		  <a class="button button-positive">Third</a>
		</div>
		
	</div>
	<div style="background-color:#29A6CF; width:100%; height:100px; position:relative; bottom:00px;">
		  
		</div>
    </ion-content>
  </ion-view>
</script>

<script id="templates/facts.html" type="text/ng-template">
  <ion-view view-title="Facts">
    <ion-content>
    </ion-content>
  </ion-view>
</script>

<script id="templates/facts2.html" type="text/ng-template">
  <ion-view view-title="Also Factual">
    <ion-content class="padding">
    </ion-content>
  </ion-view>
</script>

<script id="templates/setting.html" type="text/ng-template">
  <ion-view view-title="Settings">
    <ion-content>
        <ul class="list">
            <li><a href="#/tab/schedule" class="item item-icon-right">Schedule</a></li>
			<li><a href="#/tab/devicesetting" class="item item-icon-right">Paired Devices</a></li>
        </ul>
    </ion-content>
  </ion-view>
</script>

<script id="templates/devicesetting.html" type="text/ng-template">
<ion-view view-title="Device Setting">
	<ion-content>
		<div style="padding-top:48px;">
			<ion-tabs class="tabs-icon-top">
					<ion-tab title="Scan Devices" icon="ion-bluetooth" href="#/tab/scan">
						<ion-nav-view name="scan-tab"></ion-nav-view>
					</ion-tab>
					<ion-tab title="Paired Devices" icon="ion-ios-settings" href="#/tab/paired">
						<ion-nav-view name="paired-tab"></ion-nav-view>
					</ion-tab>
			</ion-tabs>
		</div>
	</ion-content>
</ion-view>
</script>

<script id="templates/scan.html" type="text/ng-template">
  <ion-view view-title="Scan Devices">
    <ion-content>
        
    </ion-content>
  </ion-view>
</script>

<script id="templates/paired.html" type="text/ng-template">
  <ion-view view-title="Paired Devices">
    <ion-content>
        
    </ion-content>
  </ion-view>
</script>
    
<script id="templates/scheduledetail.html" type="text/ng-template">
  <ion-view view-title="Details">
  	
  </ion-view>
</script>

<script id="tabs/scheduledetailmodal.html" type="text/ng-template">
  <ion-modal-view>
	
  </ion-modal-view>
</script>

<script id="tabs/scheduleEditmodal.html" type="text/ng-template">
  <ion-modal-view>
	
  </ion-modal-view>
</script>

<script id="templates/schedule.html" type="text/ng-template">
  <ion-view view-title="Schedule">
    <ion-content>
    
    </ion-content>
  </ion-view>
</script>

<script id="templates/about.html" type="text/ng-template">
  <ion-view view-title="About">
	<ion-content class="padding">
	  <h3>Create hybrid mobile apps with the web technologies you love.</h3>
	  <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
	  <p>Built with Sass and optimized for AngularJS.</p>
	  <p>
		<a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
	  </p>
	</ion-content>
  </ion-view>
</script>

<script id="templates/nav-stack.html" type="text/ng-template">
  <ion-view view-title="Tab Nav Stack">
	<ion-content class="padding">
	  <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
	</ion-content>
  </ion-view>
</script>

<script id="templates/contact.html" type="text/ng-template">
  <ion-view title="Contact">
	<ion-content>
	  <div class="list">
		<div class="item">
		  @IonicFramework
		</div>
		<div class="item">
		  @DriftyTeam
		</div>
	  </div>
	</ion-content>
  </ion-view>
</script>

</body>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
</html>